#amethystButton{
    height:150px;
    width:150px;
    background-color:white;
}

#citrineButton{
    height:150px;
    width:150px;
    background-color:white;
}

#moonstoneButton{
    height:150px;
    width:150px;
    background-color:white;
}

#sapphireButton{
    height:150px;
    width:150px;
    background-color:white;

}

.navbar{
    margin-left:33%;
    background-color:white;

}

#sapphirePic{
    height: 120px;
}

#moonstonePic{
    height: 120px;
}