#amethystButton{
    height:150px;
    width:150px;

}

#citrineButton{
    height:150px;
    width:150px;

}

#moonstoneButton{
    height:150px;
    width:150px;

}

#sapphireButton{
    height:150px;
    width:150px;

}

.navbar{
    margin-left:33%;
    background-color:white;

}